@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");



body {
  font-family: "Outfit", sans-serif;
}

.container-fluid{
  background: url(../images/WoW2.png);
}

.card {  
  border: none;
  border-radius: 20px;
  box-shadow: -1px 12px 23px -9px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: -1px 12px 23px -9px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -1px 12px 23px -9px rgba(0, 0, 0, 0.21);
}


@media screen and (max-width: 375px) {
  .card {
    //height: 300px;

  }
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}